name: Build
on: [pull_request, push]
permissions:
  contents: read
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18, 20]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v4.2.2
    - name: Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4.4.0
      with:
        node-version: ${{ matrix.node-version }}
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - name: Install dependencies
      uses: bahmutov/npm-install@v1.10.10
      with:
        useLockFile: false
    - run: npm ls
    - run: npm test
    - run: npm run lint
    - run: npm run type-coverage
